torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
gradio
transformers
scipy
librosa
soundfile
matplotlib
psutil
gfpgan
basicsr
facexlib
realesrgan
moviepy
opencv-python
pydub
ffmpeg-python
imageio[ffmpeg]
numpy