--extra-index-url https://download.pytorch.org/whl/cu118

# GUI
customtkinter==5.2.2
Pillow
packaging

# AI & Media Processing
openai-whisper
torch
torchaudio
transformers
TTS
better-profanity
nudenet==3.4.2
opencv-python-headless
onnxruntime-gpu
ffmpeg-python
pydub
scipy

# Utilities
PyYAML
requests
pyinstaller